{
"scrappool" : [
    [0, [
      { "item" : { "name" : "salvagearm" } },
      { "item" : { "name" : "salvagebooster" } },
      { "item" : { "name" : "salvagebody" } },
      { "item" : { "name" : "salvagelegs" } },
      { "item" : { "name" : "salvagetier4" } },
      { "item" : { "name" : "salvagetier5" } },
      { "item" : { "name" : "salvagetier6" } }
    ]]
    ]
}