{
	"start" : {
    "avian" : {
      "default" : [
        "What part do you need?",
        "I'm selling some scrap parts.",
        "Wanna buy some scrap parts from me?"
      ]
    }
   },
   "end" : {
    "avian" : {
      "default" : [
        "See you again!",
        "Nice doing business with you.",
        "What a flying visit!",
        "Gone so soon?"
      ]
    }
   },
   "follow" : {
    "avian" : {
      "default" : [
        "Follow me to my shop",
        "Want scrap parts? Follow me!"
      ]
    }
   },
   "welcome" : {
    "avian" : {
      "default" : [
        "Welcome to my shop!",
        "Here we are! How can i help you?"
      ]
    }
   },
   "tout" : {
    "avian" : {
      "default" : [
        "Scrap parts sold here!",
        "Want to buy scrap parts? Theyre sold here!"
      ]
    }
   }
}